/*! App.tsx */
.App {
}
.Nav {
}
.Pages {
}
/*! Home.tsx */
.home {
  background-color: red;
  height: 90vh;
}
/*! About.tsx */
.about {
  background-color: yellow;
  height: 90vh;
}
/*! Service.tsx */
.services {
  background-color: green;
  height: 90vh;
}
/*! Join.tsx */
.join {
  background-color: indigo;
  height: 90vh;
}
/*! Nav.tsx */
.nav {
}
