* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
/*! Nav.js */
#nav {
  height: 5rem;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav_title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_title > a {
  background-image: linear-gradient(to bottom, #c31432 0%, #4d2c66 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
}
.nav_menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nav_item {
  margin: 0 2rem;
}
.nav_item > a {
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.3s ease;
}
.nav_item:last-child > a {
  background-image: linear-gradient(to right, #8a2387, #e94057, #f27121);
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
}
.nav_item:not(:last-child) > a:hover {
  color: #8a2387;
  transition: all 0.3s ease;
}
@media screen and (max-width: 960px) {
  /* .nav_container {

  } */
  .nav_menu {
    position: absolute;
    top: -1000px;
  }
  .mobile_menu {
    cursor: pointer;
  }
  .mobile_menu .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }
}
