* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*! nav */
.nav {
  width: 100%;
  height: 5rem;
  background-color: #131313;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem;
  position: sticky;
  top: 0;
}
.nav_title {
  font-size: 2rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.nav_menu {
  display: flex;
  height: 5rem;
}
.menu_item {
  font-size: 1.2rem;
}
.menu_item:not(:last-child) > a {
  color: #fff;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  transition: all 0.3s ease;
}
.menu_item:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_item:last-child > a {
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  border-radius: 2px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  color: #fff;
}
.menu_item:not(:last-child) > a:hover {
  color: #8400ff;
}
@media screen and (max-width: 960px) {
  .nav_menu {
    position: absolute;
    top: -1000px;
  }

  .mobile_menu {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .mobileMenu_active {
  }
  .navMenu_active {
    top: 4.5rem;
    left: 0;
    background-color: #131313;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.5s ease-in-out;
  }
  .navMenu_active > li {
    font-size: 1.5rem;
  }
  .menu_item:last-child {
    padding: 0 5rem;
  }
  .menu_item:last-child > a {
    text-align: center;
    width: 100%;
    padding: 1.6rem;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  .mobileMenu_active > .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .mobileMenu_active > .bar:nth-child(2) {
    opacity: 0;
  }
  .mobileMenu_active > .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
}

/*! home */
.section {
  padding: 200px 0;
}
.home {
  background: linear-gradient(to right, #161616, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home_heading {
  font-size: 6rem;
  color: #fff;
  margin-bottom: 2rem;
}
.home_heading > span {
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.home_description {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
  background: linear-gradient(to right, #9114ff, #da22ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 2rem;
}
.main_btn {
  font-size: 1.8rem;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
}
.main_btn > span {
  position: relative;
  z-index: 2;
  color: #fff;
}
.main_btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff1ead;
  transition: all 0.35s;
  border-radius: 4px;
}
.main_btn:hover {
  color: #fff;
}
.main_btn:hover:after {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .home_heading {
    font-size: 4.3rem;
  }
  .home_description {
    font-size: 2.5rem;
  }
}

/*! about section */
.about {
  background-color: #131313;
  padding: 10rem 0;
}
.about_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1300px;
}
.fa-layer-group,
.fa-users {
  font-size: 14rem;
  color: #fff;
}
.about_img_box {
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  width: 32rem;
  height: 32rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.about_content {
  width: 100%;
}
.about_content > h1 {
  font-size: 2rem;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.about_content > h2 {
  font-size: 4rem;
  background-image: linear-gradient(to right, #8f0eff, #da22ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.about_content > p {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}
.about_btn {
  margin: 1rem 0;
}

@media screen and (max-width: 1100px) {
  .about_container {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }
  .about_img_box {
    height: 425px;
    width: 425px;
  }
  .about_content {
    text-align: center;
  }
  .about_content > h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .about_content > h2 {
    font-size: 3rem;
  }
  .about_content > p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}
.services {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.services > h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}
.services_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.services_card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transition: 0.3s ease-in;
}

.services_card > h2 {
  text-align: center;
}

.services_card > p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}
.services_btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.services_btn > button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}
@media screen and (max-width: 1300px) {
  .services_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .services_container {
    grid-template-columns: 1fr;
  }
}
